/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
    line-height: 1;
    font: 12px/20px Arial;
}

ol, ul {
    list-style: none;
}

div#panorama {
    position: static;
}


#nav {
    margin: auto;
    width: 300px;
    height: 150px;
    z-index: 0;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    float: right;
}

.panoNavButton {
    width: 30px;
    height: 30px;
    background-color: #A30000;
    z-index: 0;
    position: absolute;
    border: 2px solid #000;
    color: #ffffff;
}

#upNavButton {
    bottom: 110px;
    right: 78px;
}

#downNavButton {
    bottom: 30px;
    right: 78px;
}

#rightNavButton {
    bottom: 68px;
    right: 37px;
}

#leftNavButton {
    bottom: 68px;
    right: 120px;
}


#toolTip {
    display: none;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: rgba(230, 230, 230, .4);
    color: #000;
    z-index: 0;
    position: absolute;
}

#infoView {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: none;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 400px;
    height: 220px;
    background-color: rgba(200, 200, 200, .9);
    z-index: 0;
    position: absolute;
    border: 3px solid #cccccc;
    color: #999999;
}

#infoTitle {
    font-style: normal;
    font-size: larger;
    color: #222222;
    text-align: left;
    margin-top: 4px;
    padding: 4px;
    height: 20px;
    postion: absolute;
}

#infoContent {
    font-style: italic;
    color: #444444;
    text-align: left;
    margin-top: 4px;
    padding: 4px;
    height: 110px;
    postion: absolute;
}

#infoCloseButton {
    float: right;
    position:absolute;
    left:350px;
    top:10px;
}

#map {
    display: none;
    text-align: left;
    margin: auto;
    width: 300px;
    height: 166px;
    z-index: 0;
    position: absolute;
    float: right;
}


#mapSpot {
    width: 18px;
    height: 18px;
    background-color: #A30000;
    z-index: 0;
    position: absolute;
    border: 2px solid #000;
    color: #ffffff;
}

/**
code for ccs Button:
 background: #A30000;
    width: 18px;
    height: 18px;
    border-radius: 50%;

    yet unsure how to position;
**/

#audioPlayer {
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 0;
}
